*{ 
      font-family: "Roboto", serif;
      font-optical-sizing: auto;
      font-style: normal;
}
h1{
    font-size: 2em;
    font-weight:700;
    color: blue;
}
h2{
    font-size: 1.5em;
}
p{
    text-align: justify;
    font-size: 1em;
}

@media screen and (max-width:680px) {
    h1{
        font-size: 1.25em;
        color: rgb(59, 67, 141)  !important;
    }    
    h2{
        font-size: 1em;
        color: gray;
    }
    p{
        font-size: 0.8em;
        color: purple;
    }
    body{
        background-color: rgb(53, 91, 194) !important;
    }
}
@media screen and (max-width:1490px) {
    h1{
        font-size: 1.25em;
        color: rgb(59, 67, 141)  !important;
    }    
    h2{
        font-size: 1em;
        color: gray;
    }
    p{
        font-size: 0.8em;
        color: purple;
    }
    body{
        background-color: rgb(53, 91, 194) !important;
    }
}

