*{ 
      font-family: "Roboto", serif;
      font-optical-sizing: auto;
      font-style: normal;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 2em;
    font-weight:700;
    color: blue;
}
h2{
    font-size: 1.5em;
}
p{
    text-align: justify;
    font-size: 1em;
}

@media screen and (max-width:1520px) {
    h1{
        font-size: 1.8em;
        color: rgb(59, 67, 141)  !important;
    }    
    h2{
        font-size: 1.35em;
        color: gray;
    }
    p{
        font-size: 1em;
        color: purple;
    }
    body{
        /* background-color: rgb(53, 91, 194) !important; */
    }
    .img{
        width: 100%;
        height: auto;
        
    }
    
}

@media screen and (max-width:720px) {
    h1{
        font-size: 1.6em;
        color: rgb(230, 134, 44)  !important;
    }    
    h2{
        font-size: 1.2em;
        color: gray;
    }
    p{
        font-size: 0.9em;
        color: purple;
    }
    body{
        /* background-color: rgb(99, 43, 126) !important; */
    }
    .img{
        width: 100%;
        height: auto;
    }


}


